.react-datepicker__input-container:focus-within {
  z-index: 1 !important;
}

.react-datepicker__input-container #weekly-date-picker {
  padding: 8px;
  padding-left:15px;
  border: 1px solid gray;
  border-radius:6px;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background: #afd889 !important;
  font-weight: normal !important;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 1.5rem !important;
  line-height: 1.4rem !important;
}

.react-datepicker__navigation {
  top: 10px !important;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected:hover {
  background: #afd889 !important;
}
